.intro {
  background-color: white;
  display: flex;

  .left {
    flex: 0.5;
    overflow: hidden;

    .img-container {
      width: 900px;
      height: 900px;
      overflow: hidden;
      background-color: crimson;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      float: right;

      img {
        height: 70%;
      }
    }
  }

  .right {
    flex: 0.5;
    position: relative;

    .wrapper {
      width: 100%;
      height: 100%;
      padding-left: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h1 {
        font-size: 60px;
        margin: 10px 0;
      }
      h2 {
        font-size: 35px;
      }
      h3 {
        font-size: 30px;
        span {
          font-size: inherit;
          color: crimson;

          div {
            display: inline;
          }
        }
      }
    }

    a {
      position: absolute;
      bottom: 10px;
      left: 40%;

      img {
        width: 30px;
        animation: arrowBlink 2s infinite;
      }

      @keyframes arrowBlink {
        100% {
          opacity: 0;
        }
      }
    }
  }
}
